<div class="wrapper" style=" background-color: rgb(255, 247, 100); height:70rem; margin: 0; ">
<nav class="navbar navbar-expand-lg navbar-light float-right px-5 pt-5" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item mx-3 active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item mx-3">
            <a class="nav-link" href="#">Skills</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="row padx-200 ">
      
  </div>
  <div class="row">
      <div class="col-2"></div>
      <div class="bl col">
          <h1 class=""><span class="hi">H</span><span class="hi">i</span><span class="hi">,</span></h1>
          <h1 class=""><span class="na ">I</span> <span class="na ">'</span> <span class="na ">m </span> &nbsp;
                <span class="nm"> A</span>
                <span class="nm"> n</span>
                <span class="nm"> u</span>
                <span class="nm"> r</span>
                <span class="nm"> o</span>
                <span class="nm"> o</span>
                <span class="nm"> p</span>
            </h1>

          <h1 class="sufi" style="margin-top: 3rem;">SOFTWARE ENGINEER</h1>
      </div>

  </div>

</div>
<app-test></app-test>
<script src="../../../../node_modules/bootstrap/dist/js/ripples.js"></script>
<script>
    $('.wrapper').ripples({
	resolution: 512,
	dropRadius: 20,
	perturbance: 0.04,
});
</script>